<h2>Your Contacts</h2>

<ul>

<% @contacts.each() do |contact| %>
  <li><a href="/contacts/<%=contact.id() %>"><%= contact.first_name() %> <%= contact.last_name()%></a></li>
    <% end %>
</ul>

<p><a href="/contacts/new">Add a new contact</a></p>
